<div class="container-fluid p-3" style="min-height: 100vh">
  <h2 class="mt-5 mb-5 text-center">Bookmarked Recipes</h2>

  <div *ngIf="!recipes.length && !errorMsg">
    <div class="fs-2 mt-5 mb-5 text-center" style="height: 100vh" *ngIf="notLoading">
      No Bookmarked Recipes ☹️
    </div>
  </div>
  <div class="">
    <div *ngIf="errorMsg">
      <div class="text-center text-danger fs-2 m-5" style="height: 100vh">
        {{ errorMsg }} ☹️
      </div>
    </div>
    <div class="row gy-5">
      <div
        class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
        *ngFor="let recipe of recipes"
      >
        <div class="card shadow overflow-hidden" style="width: 20rem">
          <img
            [src]="recipe.recipe.image_url"
            class="img-fluid card-img-top"
            [alt]="recipe.recipe.title"
            style="max-height: 15rem; min-height: 15rem"
          />
          <div class="card-body card_color">
            <div class="mt-2 line-clamp">
              <h5 class="card-title text-center">{{ recipe.recipe.title }}</h5>
            </div>
            <div
              class="d-flex align-items-center justify-content-between mb-2 mt-2 align-items-center"
            >
              <div>
                <a
                  class="text-decoration-none link_hover"
                  [routerLink]="
                    '/authenticated/recipeCreater/' +
                    recipe.recipe.createdBy?._id
                  "
                  >{{ recipe.recipe.createdBy.name }}</a
                >
              </div>
              <div>
                <i class="fa-regular fa-clock"></i> :
                {{ recipe.recipe.cooking_time }} min
              </div>
            </div>
            <div class="d-flex justify-content-between mb-2 gap-1">
              <a
                [routerLink]="'/authenticated/' + recipe.recipe._id"
                class="btn btn-success btn_size"
                style="width: 8rem"
                >View</a
              >
              <button
                class="btn btn-danger btn_size"
                style="width: 8rem"
                (click)="removeFromBookmarks(recipe._id)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
